* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.age {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 40px;
    border-radius: 10px;
    border: 1px solid black;
    background-color: #cdea9a;
    margin: 100px auto;
}

.label {
    font-size: 24px;
    font-weight: 600;
}

.age input[type = 'number'] {
    width: 80px;
    height: 40px;
    padding: 10px;
    font-size: 20px;
}

.age input[type='submit'] {
    width: 160px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid black;
    outline: none;
    font-size: 18px;
    background-color: #5c8e06;
    transition: .5s;
}

.age input[type='submit']:hover {
    transition: .5s;
    background-color: #243503;
    color: white;
}