*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#more{
    font-size: 20px;
    text-align: center;
    background: #0e4002;
    color: #fff;
    cursor: pointer;
    padding: 8px 16px;
    border-radius: 10px;
    display: block;
    margin: 0 auto;
    outline: none;
    border: none;
    transition: all .5s;
}

#more:hover{
    background: #39f30d;
    color: #2c2c2c;
    transition: all .5s;
}

#more:disabled{
    background: #535353;
    color: #ccc;
}

.wrapper{
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    margin: 0 auto 20px auto;
}

.cartWrapper{
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px #ef9d05 solid;
    padding: 10px;
}

.totalText{
    font-size: 24px;
    color: #020830;
}

.product{
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 20px;
    border: 1px #ecca8d solid;
}

.productHeading{
    font-size: 20px;
    color: #041165;
}

.infoBlock{
    display: flex;
    gap: 20px;
}

.img{
    width: 150px;
    height: 150px;
}

.priceBlock{
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.priceText{
    font-size: 18px;
    color: #022d37;
}