.wrapper{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    width: 500px;
    padding: 10px;
    margin: 0 auto;
}

.item{
    width: 210px;
    height: 180px;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid darkgray;
    background: #43e6e1;
    background: linear-gradient(76deg, rgba(67, 230, 225, 1) 0%, rgba(250, 250, 250, 1) 100%);
    transform: rotateY(0);
    transition: all 0.5s 0.3s;
}

.item:hover{
    transform: rotateY(180deg);
    transition: all 0.5s 0.3s;
    box-shadow: 7px 6px 9px -4px rgba(6,49,135,0.75);
}

.heading{
    text-align: center;
    color: #0b1535;
    font-weight: 700;
    text-transform: uppercase;
}

.description{
    text-align: center;
    color: #040813;
    font-size: 20px;
}