*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin: 80px auto;
}

#list{
    width: 460px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 40px;
}

.item{
    width: 220px;
    height: 100px;
    padding: 10px;
    border-radius: 8px;
    background: #081b57;
    color: white;
    transition: 0.5s;
}
.item:hover{
    background: #90a7ef;
    color: #020d33;
    transition: 0.5s;
}

.buttons{
    display: flex;
    gap: 20px;
}

button{
    width: 100px;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 20px;
    color: white;
    background: #433a02;
    transition: .5s;
}

button:hover{
    background: #ecd44b;
    color: #272604;
    transition: .5s;
}

button:disabled{
    background: #9e9d9d;
    color: #555454;
}