*{
    box-sizing: border-box;
}
.visible{
    width: 200px;
    height: 100px;
    border: 1px dotted darkred;
    color: #ed0c0c;
    font-size: 24px;
    font-weight: 600;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    margin-bottom: 20px;
}

.visible.hidden{
    opacity: 0;
}

.button{
    width: 200px;
    padding: 20px;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #043060;
}