* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.form {
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 40px;
    border-radius: 10px;
    border: 1px solid black;
    background-color: #cdea9a;
    margin: 20px 0 0 20px;
}

label {
    font-size: 20px;
    font-weight: 500;
}

.form input[type = 'number'] {
    width: 80px;
    padding: 6px;
    font-size: 20px;
}

.form input[type = 'text'] {
    width: 200px;
    padding: 10px;
    outline: none;
    border: none;
    border-radius: 10px;
    font-size: 18px;
}

.form input[type='submit'] {
    width: 160px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #426104;
    outline: none;
    font-size: 18px;
    background-color: #5c8e06;
    transition: .5s;
}

.form input[type='submit']:hover {
    transition: .5s;
    background-color: #243503;
    border: 1px solid #e4f4c1;
    color: white;
}

#table{
    margin: 20px auto;
    font-size: 24px;
    border-spacing: 10px;
    border: 1px #1a220c solid;
    border-radius: 10px;
}

#table tr:nth-child(even) {
    background-color: #cdea9a;
}
#table tr:nth-child(odd) {
    background-color: #b8f154;
}

#table td{
    border: 1px solid #5075ec;
    padding: 6px;
    text-align: left;
}
