.wrapper{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    width: 430px;
    padding: 10px;
    margin: 0 auto;
}

.card{
    width: 180px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid black;
    background: #43e6e1;
    background: linear-gradient(76deg, rgba(67, 230, 225, 1) 0%, rgba(250, 250, 250, 1) 100%);
}

.card:hover{
    box-shadow: 7px 6px 9px -4px rgba(6,49,135,0.75);
}