*{
    box-sizing: border-box;
}

#block{
    width: 280px;
    padding: 40px;
    border: 1px solid lightslategrey;
    border-radius: 10px;
    background-color: #df9e9e;
    margin: 20px auto;
}

input{
    width: 100px;
    padding: 10px;
    font-size: 18px;
    outline: none;
    border: none;
    border-radius: 5px;
    margin-right: 20px;
    margin-bottom: 8px;
}

.span{
    font-size: 24px;
}

.output{
    display: inline-block;
    width: 120px;
    font-size: 24px;
    color: #290101;
}